*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit; /* Reseta as fontes por padão*/

    --webkit-font-smoothing:antialiased; /* para a fonte ficar mais suave*/
    -moz-osx-font-smoothing:grayscale; /* faz com que a fonte fica mais suave no mozila*/

}

:root{
    --bg-color:#09090b;
    --surface-color: #18181B;
    --stroke-color:#27272A;
    --text-color-primary:#F4F4F5;
    --text-color-secondary:#A1A1AA;

    --brand-color-primary:#F7B733;
    --brand-color-secondary:#FC4A1A;


    --ff-sans:"Inter", serif;
    --fw-base:400;
    --fw-md:500;
    --fw-bold:800;

    --fs-sm:0.875rem;
    --fs-base:1rem;
    --fs-large:1.25rem; /*sempre multiplique por 16 que é o valor em px*/
    --fs-xl:1.5rem;
    --fs-2xl:2.5rem;

    --px-lg:1.5rem; /*(px) padding lateral*/
    --py-base:1rem; 
    --py-lg:1.5rem; /* (py) padding no eixo y*/
    --py-xl:3rem;


}

html{  /*adicionando as fontes padrão de todo nosso documento*/
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--text-color-primary);
}

body{
    background-color: var(--bg-color);
}

h1, h2, h3{
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04em;
}

h1{
    font-size: var(--fs-2xl);
}

h2{
    font-size:var(--fs-xl);
}

h3{
    font-size: var(--fs-large);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    background: linear-gradient(90deg,   /*define o dragrade*/
    var(--brand-color-secondary)0%,
    var(--brand-color-primary)100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

ul[role="list"]{
    list-style: none;
}

@media (width >= 80em/*1280px*/){ /*quando a tela do nosso site for igual ou mair*/
    :root{
        --fs-large:2rem; 
        --fs-xl:3rem;
        --fs-2xl:4rem;

        --py-base:1.5rem; 
        --py-lg:2.5rem; /* (py) padding no eixo y*/
        --py-xl:5rem;
        --px-lg:2rem;
    }
}